# Python In-Built Data Structures
- strings
- list
- tuple
- set
- dictionary

`Data Structures are used to store the data`

# Strings
    - strings in python are the sequence of unicode characters.

<img src="https://media.giphy.com/media/l0ExwzsCSv0apIjlK/giphy.gif" width = "300" style="transform:rotate(-90deg);">

In [66]:
my_str = "Welcome to the Course"

In [67]:
print(my_str)

print(type(my_str))

Welcome to the Course
<class 'str'>

**Indexing a String**

- accessing one character based on the position.

In [68]:
print(my_str[0])
print(my_str[1])

W
e

In [69]:
# total number characters in a string
print( len(my_str) )

21

In [70]:
# accessing last element of string
print( my_str[len(my_str)  - 1] )

e

**Negative Indexing**

- writting `len(my_str)` is optional.

- That's how Python give rise to Negative Indexing

In [71]:
print( my_str[-1] )   # last character
print( my_str[-5] )   # 5th last character

e
o

### String Slicing
- extracting multiple characters from a string (sub string)
- Syntax : `str[start_idx : end_idx +1]`

In [72]:
print( my_str[ 2:7] )

lcome

In [73]:
print( my_str[:] )

Welcome to the Course

In [74]:
# all the characters except last 2
print( my_str[:-1] )

Welcome to the Cours

### Important Methods related to strings

In [75]:
print(my_str)

Welcome to the Course

In [76]:
# my_str.

In [77]:
# converts everything in lowercase
my_str.lower()

'welcome to the course'

In [78]:
# converts everything in uppercase
my_str.upper()

'WELCOME TO THE COURSE'

In [79]:
# Captial first character of each word
my_str.title()

'Welcome To The Course'

In [80]:
# returns the index of first occurence of the word, -1 otherwise
my_str.find("come") # if we give python that is not there so it return -1

3

In [81]:
# splits the string with space " " and creates a list
my_str.split(" ")

['Welcome', 'to', 'the', 'Course']

### Few Operations on strings

In [82]:
# concatenation 2 of strings
"abc "+"pqr" # if you dont mention space you will also not have space.

'abc pqr'

In [83]:
# cannot concatenate other data type
# "abc" + 1 # uncomment this to see

In [84]:
# type conversion is the way.
"abc " + str(1)

'abc 1'

In [85]:
# Multiplication of string with int n results into repetition string n times.
"hello"*4

'hellohellohellohello'

# Lists
     - ordered/sequence collection of elements
     - indexable
     - mutable
     - can store heterogenous elements
<img src="https://media.giphy.com/media/10S4rk0J10AKlO/giphy.gif" width="500">

In [86]:
my_list = [6,3,2,8,4]

In [87]:
print(my_list)

[6, 3, 2, 8, 4]

In [88]:
type(my_list)

list

**Indexing/Slicing of List works same way as Strings**

In [89]:
print( my_list[0] )

print( my_list[-1] )

print( my_list[1:-1] ) # list slicing

6
4
[3, 2, 8]

In [90]:
# because of mutable property
my_list[0] = 99 # change of element using index

print(my_list)

[99, 3, 2, 8, 4]

### Some important methods for lists

In [91]:
# adds the given element at the end of the list
my_list.append(33)

print(my_list)

[99, 3, 2, 8, 4, 33]

In [92]:
# inserts 88 at index 1
my_list.insert(1, 88)

print(my_list)

[99, 88, 3, 2, 8, 4, 33]

In [93]:
# delete the last element.
# pop function can also take index if you want to delete specific index.
my_list.pop()

print(my_list)

[99, 88, 3, 2, 8, 4]

In [94]:
# reverse a list 
my_list.reverse()

print(my_list)

[4, 8, 2, 3, 88, 99]

In [95]:
# sorts in ascending order
my_list.sort()

print(my_list)

[2, 3, 4, 8, 88, 99]

In [96]:
# sorts in descending order
my_list.sort(reverse=True)

print(my_list)

[99, 88, 8, 4, 3, 2]

In [97]:
# in operator
1 in my_list # this will check weather given value is present in the list or not

False

In [98]:
# iterating over elements of list and taking their squares
for ele in my_list: 
    print(ele**2)

9801
7744
64
16
9
4

### List Comprehension

In [99]:
print(my_list)

[99, 88, 8, 4, 3, 2]

In [100]:
# creating a new list of squares of each element
new_list = []

for ele in my_list: 
    new_list.append(ele**2)
    
print(new_list)

[9801, 7744, 64, 16, 9, 4]

In [101]:
## list comprehension
new_list2 = [ele**2 for ele in my_list]

print(new_list2)

[9801, 7744, 64, 16, 9, 4]

In [102]:
# e.g of heterogenous list (it can have many data types)
my_list_2 = [4, True, 98.4, [9,6,3], "Python", 100]

print(my_list_2)

[4, True, 98.4, [9, 6, 3], 'Python', 100]

In [103]:
len(my_list_2)

6

In [104]:
list_2d = [ [1,2,3], [4,5,6], [7,8, 9] ]

print(list_2d)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [105]:
print(list_2d[1]) # as index start from zero

[4, 5, 6]

In [106]:
# accessing an element in 2d list
print( list_2d[1][-1] )

6

# Tuples
    - similar to lists (read-only)
    - ordered,  collections of items
    - indexable
    - immutable

In [107]:
tup = (8, 9 , "Hello", 88)

In [108]:
print(tup)

(8, 9, 'Hello', 88)

In [109]:
type(tup)

tuple

In [110]:
print( tup[0] )

print( tup[:-1]) # you get all elements except last

8
(8, 9, 'Hello')

In [111]:
# But this is not possible because of immutablity
# tup[0] = 1

In [112]:
for ele in tup:
    print(ele)

8
9
Hello
88

`Tuples are faster than list as tuples are read only feature`

# Set
    - contains only unique elements
    - mutable
    - unordered
    - unindexable

In [113]:
my_set = {9, 7, 7, 1, 8, 9, 7, 5, 1}

In [114]:
# No duplicate elements
print(my_set)

{1, 5, 7, 8, 9}

In [115]:
type(my_set)

set

In [116]:
# No matter how many times you add same element, it will be available only once.
my_set.add(99)

print(my_set)

my_set.add(99)

print(my_set)

{1, 99, 5, 7, 8, 9}
{1, 99, 5, 7, 8, 9}

In [117]:
# remove elements from set
my_set.remove(8)

print(my_set)

{1, 99, 5, 7, 9}

#### Remove Duplicate Numbers from a list

In [118]:
some_list = [6,3,7,6,4,1,0,9,2,1,0,8,6,4,7]

In [119]:
print(some_list)

[6, 3, 7, 6, 4, 1, 0, 9, 2, 1, 0, 8, 6, 4, 7]

In [120]:
my_new_set = set(some_list) # set constructor is used here.

In [121]:
some_list = list(my_new_set)

In [122]:
some_list

[0, 1, 2, 3, 4, 6, 7, 8, 9]

# Dictionary
     - stores data in key-value pair
     - unordered
     - unindexable
     - access the values, with help of keys
      
<img src="https://media.giphy.com/media/l2Je66zG6mAAZxgqI/giphy.gif" width=300>

In [128]:
user_info = {
    "name": "Akhil",
    "age" : 23,
    "nationality" : "Indian",
}

In [129]:
print(user_info)

{'name': 'Akhil', 'age': 23, 'nationality': 'Indian'}

In [125]:
type(user_info)

dict

In [130]:
# accessing elements in dictionary

print(user_info['name'])

print(user_info['nationality'])

Akhil
Indian

In [131]:
# unknown key gives error
# print(user_info['hobby'])

   use  `dic.get()` to avoid error

In [132]:
# no error

user_info.get('hobby')

In [133]:
# add data in dictionary

user_info['hobby'] = ['Singing', 'Cricket', 'Coding']

In [134]:
print(user_info)

{'name': 'Akhil', 'age': 23, 'nationality': 'Indian', 'hobby': ['Singing', 'Cricket', 'Coding']}

In [135]:
# display all keys 
user_info.keys()

dict_keys(['name', 'age', 'nationality', 'hobby'])

In [136]:
# display all values
user_info.values()

dict_values(['Akhil', 23, 'Indian', ['Singing', 'Cricket', 'Coding']])

In [137]:
# display (key, value) pair in tuples
user_info.items()

dict_items([('name', 'Akhil'), ('age', 23), ('nationality', 'Indian'), ('hobby', ['Singing', 'Cricket', 'Coding'])])

In [138]:
for k,v in user_info.items():
    print(k, " : " , v)

name  :  Akhil
age  :  23
nationality  :  Indian
hobby  :  ['Singing', 'Cricket', 'Coding']

In [139]:
# delete key, value 
user_info.pop('nationality')

'Indian'

In [140]:
# nationality has been deleted
user_info

{'name': 'Akhil', 'age': 23, 'hobby': ['Singing', 'Cricket', 'Coding']}

In [141]:
user_info['name'] = "Pillamgolla"

In [142]:
print(user_info)

{'name': 'Pillamgolla', 'age': 23, 'hobby': ['Singing', 'Cricket', 'Coding']}