# Data Structure

They are further classified into 3 types : 
List , Tuples , Dictionary

### List

list  is ordered sequence that can hold a variety of object class.
We will us [] & comas for separate object in the list.

In [7]:
my_list = [1,2,3,4]  # we had  use [] square brackets
my_list

[1, 2, 3, 4]

In [8]:
# max value of list
print(max(my_list))

4

In [9]:
# min value of list 
print(min(my_list))

1

In [10]:
# This will return number of occurence of data
print(my_list.count(1))

1

In [11]:
# we can also have multiple data type in a single list. 
my_list = [1,'Two',3,'Four',5.001]

In [12]:
# to know the index of list using data 
my_list.index('Four')

3

In [13]:
# length of the list 
len(my_list)  # this just count the number of elements that are present in the List.

5

In [14]:
# Retriving the elements using the index  (if we have multiple the we must use print for sure )
print (my_list [2])
print (my_list [1])
print (my_list [3])
print (my_list [2])

3
Two
Four
3

In [15]:
# the above can also be written as 
print (my_list [2],
my_list [1],
my_list [3],
my_list [4])

3 Two Four 5.001

In [16]:
# Slicing in List : 
print(my_list[1:])   # we use square brackets  (start)
print(my_list[:4])   # stop
print(my_list[::2])  #step

['Two', 3, 'Four', 5.001]
[1, 'Two', 3, 'Four']
[1, 3, 5.001]

In [17]:
print(my_list[1:1:1])   # this wont print any thing.

[]

In [18]:
# concatination in list 
my_list = [1,2,3,4]
my_list_2 = [5,0,6]
final_list = my_list + my_list_2
print(final_list)

[1, 2, 3, 4, 5, 0, 6]

In [19]:
# Concatinantion using extend ()
my_list.extend(my_list_2)
my_list

[1, 2, 3, 4, 5, 0, 6]

In [20]:
# append - this will add the new value to the list.
final_list.append('seven')  # we know that we can use other data type as well.
final_list

[1, 2, 3, 4, 5, 0, 6, 'seven']

In [21]:
# Reverse in list :
final_list.reverse()
final_list

['seven', 6, 0, 5, 4, 3, 2, 1]

In [22]:
# to make another list with same data
fix_data = final_list.copy()
print(fix_data)   # this will have the same values as final_data

['seven', 6, 0, 5, 4, 3, 2, 1]

In [23]:
#deletion  in the list 
final_list.pop() # this will help us in remove the last element

1

In [24]:
# we can also use this for pop 
final_list.pop(-1) # this -1 means coming from back. we can also  use this in slice.

2

In [25]:
#remove - to remove  a particular element
final_list.remove(3)
final_list

['seven', 6, 0, 5, 4]

In [26]:
# to remove all elements at once from list 
final_list.clear()
final_list

[]

In [27]:
# sorting in list : 
another_list = [9,8,7,6,5,4,3,1,2]
another_list.sort();
another_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# sorting in list Descending  : 
another_list = [9,8,7,6,5,4,3,1,2]
another_list.sort(reverse=True);    # make sure T & F are caps in True and False.
another_list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
# replacing in the list : 
another_list[0] = 'One'
another_list

['One', 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
# insert : this just insert value between present data.
another_list.insert(1,'two')
another_list

['One', 'two', 8, 7, 6, 5, 4, 3, 2, 1]

# Dictionaries

They are unordered mapping for storing the objects. We have key value pairs that allow us to quickly grab the pair. Its very hard for us to remeber all the index postition so we can assign the key to that. we  mostly use the dictionary for retrival of the values. 

### {'key1':'value1','key2':'value2','key3':'value3'}

In [31]:
my_dict = {'key1':'value1','key2':'value2','key3':'values3'} # we had used {} flower brackets
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'values3'}

In [32]:
my_dict['key2'] # we can also retrive the data using key

'value2'

In [33]:
new_dict = my_dict.fromkeys(['keys1','keys2'])  # getting data using multiple keys
new_dict

{'keys1': None, 'keys2': None}

In [34]:
# to know the keys 
my_dict.keys()   # this will display all the keys that are present here.

dict_keys(['key1', 'key2', 'key3'])

In [35]:
# to know all the vlaues 
my_dict.values()

dict_values(['value1', 'value2', 'values3'])

In [36]:
# wd can also have the list , dictionary & data aswell.
dict = {'K':123,'K2':[1,2,3],'K3':{1,2,3}}

In [37]:
dict['K2']

[1, 2, 3]

In [38]:
# inserting the new value in the Dictionary
dict  ['K4'] = 456    # for retriving and inserting we use [] square brackets only
dict      # we can also insert the another value with same key with lower case but that is not recommended.

{'K': 123, 'K2': [1, 2, 3], 'K3': {1, 2, 3}, 'K4': 456}

In [39]:
# to know lenght  
print(len(dict))

4

In [40]:
#  replacing existing value
dict ['K4'] = 123
dict

{'K': 123, 'K2': [1, 2, 3], 'K3': {1, 2, 3}, 'K4': 123}

In [41]:
# Use the copy() method to copy the dictionary
original_dict = {'key1': 'value1', 'key2': 'value2'}
new_dict = original_dict.copy()
print(new_dict)

{'key1': 'value1', 'key2': 'value2'}

In [42]:
#adding 2 dictionary 
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 3, 'c': 4}

In [43]:
# to remove the element from the dictionary: 
dict1.pop('a')

1

In [44]:
# to remove the last element
dict1.popitem()

('c', 4)

## Tuples

They have immutability. Once an element is assigned inside a tuple it cannot be reassigned. Tuple use parathesis ( )

In [45]:
# Creation of tuples
t = (1,2,3)     # we will use ()

In [46]:
# Lenght of tuple
print(len(t))

3

In [47]:
#replacing - diffrent data types at data structure in tuples 
t = ('one',2,3)
t

('one', 2, 3)

In [48]:
# Sorting the tuple
t = (9,8,6)
sorted_numbers = sorted(t)
print(sorted_numbers)

[6, 8, 9]

In [49]:
# indexing in tuples : 
print(t[1])
print(t[-1])

8
6

In [50]:
# this check number of occurance in tuple
t = ('a','b','a')
t.index('a')

0

In [51]:
# this will give us number of instances.
t.count('a')

2

In [52]:
# checking immutability in string 
#t(0) = 'A'  # (un comment this)
 # we get error as replacement is not possible in tuple.

In [53]:
# concatination in the tuples
t1 = ('akhil','babu')
t2 = ('Can','Do')
t = t1 + t2 
print(t)

('akhil', 'babu', 'Can', 'Do')

In [54]:
# Slicing in tuples 
print(t1[0:2])

('akhil', 'babu')

# Set

They are unordered collection  of unique elements.  They must not have duplicates.

In [55]:
# first we need to declare and later we will add data in that.
my_set=set()
my_set.add(9) # we can give only 1 data at a time
my_set.add(2) # this automatically sort for us
my_set.add(5)
my_set

{2, 5, 9}

In [56]:
# another way of giving a set 
s1 = {1, 2,3,5}
s1

{1, 2, 3, 5}

In [57]:
#we cant have dulicates in here
my_set.add(5)
my_set     # we dont have 5 again

{2, 5, 9}

In [58]:
my_set.remove(2)
my_set

{5, 9}

In [59]:
#  Removes a specific element from the set if it is a member. If the element is not a member, do nothing.
my_set.discard(8)  # no error is thrown if that element is not in set

In [60]:
# removing all the elements from set
my_set.clear()
my_set

set()

# Set Operation

union(): Returns a set with all the elements from the sets.

In [61]:
#adding of set 
s1 = {1, 2}
s2 = {2, 3}
print(s1.union(s2))   # we cant add directly

{1, 2, 3}

intersection(): Returns a set with elements common to the sets.

In [62]:
print(s1.intersection(s2))

{2}

difference(): Returns a set with elements in the first set but not in the others.

In [63]:
print(s1.difference(s2))

{1}

In [64]:
# pip install pandas (we need to imort this so that we can import excel over here)

In [65]:
import pandas as pd  # dont change syntax

In [66]:
## df = pd.read_excel('location_of_file.xlsx')

In [67]:
# df.head()  # this will print the excel

# Difference Table

| Feature               | List                                 | Tuple                                | Set                                  | Dictionary                           |
|-----------------------|--------------------------------------|--------------------------------------|--------------------------------------|--------------------------------------|
| Syntax                | `[]`                                 | `()`                                 | `{}`                                 | `{key: value}`                       |
| Mutability            | Mutable (can change)                 | Immutable (cannot change)            | Mutable (can change)                 | Mutable (can change)                 |
| Length                | Variable                             | Fixed                                | Variable                             | Variable                             |
| Ordering              | ✔                                    | ✔                                    | ❌                                   | ❌                                   |
| Index Access          | ✔                                    | ✔                                    | ❌                                   | ❌ (access via keys)                 |
| Slicing               | ✔                                    | ✔                                    | ❌                                   | ❌                                   |
| Add/Remove Elements   | ✔                                    | ❌                                   | ✔ (only unique elements)             | ✔                                    |
| Element Mutation      | ✔                                    | ❌                                   | N/A                                  | Values: ✔; Keys: ❌                   |
| Iteration             | ✔                                    | ✔                                    | ✔                                    | ✔ (over keys, values, or items)      |
| Methods               | Many (e.g., append, remove)          | Few (e.g., count, index)             | Many (e.g., add, remove)             | Many (e.g., get, update)             |
| Use Case              | General purpose, ordered collection  | Immutable ordered collection         | Unique elements, mathematical sets   | Key-value pairs, associative arrays  |
| Example               | `my_list = [1, 2, 2, 3]`             | `my_tuple = (1, 2, 2, 3)`            | `my_set = {1, 2, 3}`                 | `my_dict = {'a': 1, 'b': 2}`         |